
@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gaaaa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/4dd764bfea.js" crossorigin="anonymous"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background: #111;
        }

        :root {
            --yellow: #f9ca24;
        }

        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 15px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #212529;
        }

        /* FOOTER */
        .contenedor-footer {
            max-width: 1170px;
            margin: auto;
        }

        .fila {
            display: flex;
            flex-wrap: wrap;
        }

        ul {
            list-style: none;
            margin-left: -30px;
        }

        .footer {
            width: 100%;
            background-color: #24262b;
            padding: 70px 0;
        }

        .columnas {
            width: 20%;
            padding: 0 15px;
            margin: 1.5%;
        }

            .columnas h4 {
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: 500;
                position: relative;
            }

                .columnas h4::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    background-color: cyan;
                    height: 2px;
                    box-sizing: border-box;
                    width: 50px;
                }

            .columnas ul li:not(:last-child) {
                margin-bottom: 10px;
            }

            .columnas ul li a {
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                display: block;
                transition: all 0.3s ease;
            }

                .columnas ul li a:hover {
                    color: #ffffff;
                    padding-left: 8px;
                }

            .columnas .redes a {
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #ffffff;
                transition: all 0.5s ease;
            }

                .columnas .redes a:hover {
                    color: #24262b;
                    background-color: #ffffff;
                }


        /* FOOTER */
        /* MODAL */
        .modal-content {
            background: #1a1a1a;
            color: #fff;
        }

        .btn-outline-primary {
            border: none;
            background: #333;
            color: #fff;
        }

            .btn-outline-primary:hover {
                border-color: #000;
                background: #212529;
            }
        /*dropdown-menu*/
        .dropdown-menu {
            background: #1a1a1a;
            color: #fff;
        }

        .dropdown-item {
            background: #1a1a1a;
            color: #fff;
        }

            .dropdown-item:hover {
                background: #000;
                color: #fff;
            }
        /* ARTICULOS */
        .card {
            background: #1a1a1a;
            color: #fff;
        }

        .card-producto {
            background: #333;
            color: #fff;
        }

        .card-body {
            color: #fff;
        }
    </style>


    <style>
        /**/
        .row {
            margin-right: 0px;
            margin-left: 0px;
        }

        .container-fluid {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
        /**/
        .accordion-button {
            cursor: pointer !important;
        }
        .accordion-body {
            background: #1a1a1a;
        }
        .accordion-button {
            background: #333;
            color: #fff;
        }
        .accordion-item:first-of-type .accordion-button {
            background: #333;
            color: #fff;
        }
        .accordion-button:not(.collapsed){background: #333;}
        .d-flex {
            background: #333;
            color: #fff;
        }

        .accordion-item:not(:first-of-type){
            margin-top:15px;
            margin-bottom: 15px;
        }

        h4 {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container-fluid d-flex flex-column min-vh-100">
        <div class="row mt-5 pt-4">
            <div class="col-12">
                <h4>Mis Compras</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body bg-secondary">

                        <div class="accordion" id="accordion_articulos">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


        <!-- FOOTER -->
        <footer class="footer">
            <div class="contenedor-footer">
                <div class="fila">
                    <div class="columnas">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">Conócenos</a></li>
                            <li><a href="#">Consultas</a></li>
                            <li><a href="#">Contáctanos</a></li>
                        </ul>
                    </div>
                    <div class="columnas">
                        <h4>FAQ</h4>
                        <ul>
                            <li><a href="#">¿Quiénes somos?</a></li>
                            <li><a href="#">¿Cómo nos comunican?</a></li>
                            <li><a href="#">¿Dónde nos encuentran?</a></li>
                            <li><a href="#">Método de pago</a></li>
                        </ul>
                    </div>
                    <div class="columnas">
                        <h4>online shop</h4>
                        <ul>
                            <li><a href="#">watch</a></li>
                            <li><a href="#">bag</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">dress</a></li>
                        </ul>
                    </div>
                    <div class="columnas">
                        <h4>Síguenos</h4>
                        <div class="redes">
                            <a href="#"><i title="Facebook" class="fab fa-facebook-f"></i></a>
                            <a href="#"><i title="Twitter" class="fab fa-twitter"></i></a>
                            <a href="#"><i title="Instagram" class="fab fa-instagram"></i></a>
                            <a href="#"><i title="Git Hub" class="fab fa-github"></i></a>
                            <a href="#"><i title="Youtube" class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->
        @section scripts{
            <script>
        function zeroFill(number, width) {
            width -= number.toString().length;
            if (width > 0) {
                return new Array(width + (/\./.test(number) ? 2 : 1)).join('0') + number;
            }
            return number + ""; // always return a string
        }

        $(document).ready(function () {
           jQuery.ajax({
                url: '@Url.Action("ObtenerCompra", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data)
                    if (data.lista != null) {
                        $.each(data.lista, function (i, v) {
                            var accordion_item = $("<div>").addClass("accordion-item");

                            var accordion_header = $("<div>").addClass("accordion-header").append(
                                $("<div>").addClass("accordion-button collapsed").attr({ "data-bs-toggle": "collapse", "data-bs-target": "#collapse" + i, "aria-expanded": "false" }).append(
                                    $("<div>").addClass("d-flex justify-content-between w-100").append(
                                        $("<div>").text("N° " + zeroFill(i + 1, 6)),
                                        $("<div>").addClass("me-4").text("Fecha Compra: " + v.FechaTexto)
                                    )
                                )
                            );

                            var accordion_collapse = $("<div>").attr({ "id": "collapse" + i }).addClass("accordion-collapse collapse");

                            var accordion_body = $("<div>").addClass("accordion-body");
                            $.each(v.oDetalleCompra, function (x, dc) {
                                var d_flex = $("<div>").addClass("d-flex flex-row border p-2").append(
                                                $("<img>").attr({ "src": "data:image/" + dc.oProducto.extension + ";base64," + dc.oProducto.base64,"width":"50"}),
                                                $("<div>").addClass("p-2 bd-highlight").text(dc.oProducto.Nombre),
                                                $("<div>").addClass("p-2 bd-highlight ms-auto").text("Cantidad: " + dc.Cantidad),
                                                $("<div>").addClass("p-2 bd-highlight").text("Total: S/. " + dc.Total)
                                            )
                                accordion_body.append(d_flex);

                            });

                            accordion_body.append(
                                $("<div>").addClass("d-flex justify-content-between bg-dark border").append(
                                    $("<div>").addClass("p-2 bd-highlight").text("Total Importe:"),
                                    $("<div>").addClass("p-2 bd-highlight").text("S/. " + v.Total)
                                )
                            );

                            accordion_collapse.append(accordion_body);

                            accordion_item.append(accordion_header);
                            accordion_item.append(accordion_collapse);


                            $("#accordion_articulos").append(accordion_item);
                        });

                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show");
                },
            });
        })

            </script>


    </body>
</html>
    }